.cms_body {

#categories_list table {
	border-collapse: collapse;
	width:700px;
}

#categories_list table tr td {
	padding: 5px;
	vertical-align: top;
}

#categories_list .list_description {
  width:60%;
}

#categories_list .list_description dl {
	margin: 0;
}

#categories_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#categories_list .list_description dd {
	margin: 0;
}

#categories_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#categories_list .list_line_even {
  background:#FFFFFF;
}

#categories_list .list_line_odd {
  background:#FF9999;
}

}
