/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require_tree . 
*/

#notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}

body {
  font-size: 12px;
  font-family: sans-serif;  
}
