.cms_body {

#pages_list table {
        border-collapse: collapse;
				width:700px;
}

#pages_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#pages_list .list_description {
  width:        60%;
}

#pages_list .list_description dl {
        margin: 0;
}

#pages_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#pages_list .list_description dd {
        margin: 0;
}

#pages_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#pages_list .list_line_even {
  background:   #FFFFFF;
}

#pages_list .list_line_odd {
  background:   #DCDCDC;
}

}
