<div class="cms_border">
	<h1>New Sub Page</h1>
	<%= render 'form' %>
</div>
<div class="cms_asset_list">
  <h2>Hier zie je een lijst met geuploade files. Om naar deze files te verwijzen dien je een link te maken die verwijst naar deze file e.g. http://www.vv-fr.nl/uploads/cms/asset/file/6/file.pdf</h2>
  <%= render '/cms/files/assets_list' %>
</div>
<%= link_to 'Back', category_path(@category) %>
