<div class="cms_border">
<h1>The body of the <%= @page.page_title, :id => "cms-title" %> sub-page will look like:</h1>
<%= raw(@page.body) %>
<p>
	<%= link_to 'Edit', edit_category_page_path(@category, @page) %>
</p>
</div>
<%= link_to 'Back', category_path(@category) %>
